:root {
    --darkest: rgb(73, 84, 100);
    --dark: rgb(187, 191, 202);
    --light: rgb(232, 232, 232);
    --lightest: rgb(244, 244, 242);
    --serene-green: rgb(124, 148, 115);
}

* {
    font-family: "Garamond", "Georgia", "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5rem;
}

body {
    /* background-color: var(--lightest); */
}

a {
    text-decoration: none;
}




/* header elements */
header {
    /* border: 1px solid green; */
}

nav li {
    display: inline;
}

/* main elements  */
main {
    border: 1px solid red;
}

main p {
    margin: 1rem 0;
}

section {
    border: 1px solid orange;
}

.about-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;

    width: 75%;
}

.content-container {
    border: 1px solid purple;
    flex: 1 0 100%;
    width: 100%;
}

.content-card .portrait {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.portrait {
    border: 1px solid greenyellow;
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;
}

.portrait img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
}


/* footer elements */
footer {
    /* border: 1px solid green; */
}


@media screen and (min-width: 768px) {
    .content-container {
        flex: 1 0 50%;
        width: 50%;
    }
}
