:root {
    --text: rgb(21, 26, 34);
    --darkest: rgb(73, 84, 100);
    --dark: rgb(187, 191, 202);
    --light: rgb(232, 232, 232);
    --lightest: rgb(244, 244, 242);
    --serene-green: rgb(124, 148, 115);
}

* {
    font-family: "Garamond", "Georgia", "Times New Roman", Times, serif;
    font-size: 18px;
}

body {
    background-color: var(--dark);
    color: var(--text);
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}


h1 {
    font-size: 4rem;
}

/* HEADER elements */
header {
    border: 1px solid green;
    width: 100%;
    background-color: var(--lightest);
}

.header-row {
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    /* /* max-width: 1200px; */
    height: 50vh;
    margin: 5%;
}

.header-container {
    flex: 1 0 100%;
}

.intro {
    border: 1px solid lightskyblue;
    margin-bottom: 2rem;
}

.intro h1 {
    color: var(--darkest);
}

.main-nav {
    border: 1px solid violet;
}

.main-nav li {
    display: inline;
}



/* MAIN elements  */
main {
    border: 1px solid red;
}

main p {
    margin: 1rem 0;
}

.overarching-flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

section {
    border: 1px solid orange;
}

/* FLEX SECTION ROWS */
section.row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 2rem;
    /* max-width: 1200px; */
}


/* MAIN: about me section */
.about-container {
    border: 1px solid purple;
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.about-card {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    padding: 1rem;
}

.portrait {
    border: 1px solid greenyellow;
    display: flex;
    min-height: 100%;
}

.portrait img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
}


/* MAIN: portfolio section */
.portfolio-row {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    /* max-width: 1200px; */
}


/* MAIN: about me section */
.portfolio-container {
    border: 1px solid purple;
    flex: 1 0 40%;
    margin: 1rem;
}

#showcase-container {
    flex: 3 0 100%;
}


.gallery-card {
    width: 100%;
    /* height: auto; */
    position: relative;
}

.gallery-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* .gallery-card a {
    display: block;
    position: absolute;
    width: 50%;
    bottom: 30%;
    left: 0;
    background-color: red;
    padding: 2rem 4.5rem;
    text-align: center;

} */



/* MAIN: contact section */




/* FOOTER elements */
footer {
    border: 1px solid green;
    height: 5vh;

    margin-top: 1rem;
    text-align: center;
}



/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .row, .portfolio-row {
        justify-content: space-evenly;
    }

    .about-container, .portfolio-container {
        flex: 1;
        max-width: 50%;
    }
}


@media screen and (min-width: 992px) {
    .row, .portfolio-row {
        justify-content: space-evenly;
        margin: 0 5%;
    }

    .about-container, .portfolio-container {
        flex: 1;
        max-width: 45%;
    }
}